.container {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  &:hover {
    transition: 0.1s;
    filter: opacity(0.85);
  }
}

.blocked {
  pointer-events: none;
}