.header {
  height: 4rem;
  display: flex;
  justify-content: center;
  background-color: colors.$backgroundColor;
  box-shadow: 0 0 10px 0 colors.$shadow;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: monospace;
  color: #1e5f80;
  font-weight: 600;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
}
